.main-header {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #A7D2DD;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  color: #467599;
  padding: 40px;
}

.main-header div h2 {
  font-weight: 200;
}


.main-header div h2 span {
  font-style: bold;
  color: #1D3354;
}

@media only screen and (min-width: 1024px) {
  .main-header {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 768px) {
  .main-header {
    margin-top: 0;
  }
}