header {
  display: flex;
  font-family: 'Bungee', sans-serif;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #A7D2DD;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  color: #ffffff;
  margin-top: 120px; 
}