.new-tweet .tweet {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  height: 50px;
  padding: 0.5em; 
}

.new-tweet textarea {
  border-bottom: 3px black solid;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f4f1ec;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056a1;
  color: white;
  float: left;
}

#formulating-thought {
  font-family: 'Bungee', sans-serif;
  float: right;
}