.new-tweet {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* padding: 0.5em;  */
}

.new-tweet textarea {
  border: none;
  border-bottom: 4px black solid;
  background-color: #f4f1ec;
  width: 100%;
  /* height: 100px; */
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056a1;
  color: white;
}

.new-tweet #formulating-thought {
  font-family: 'Bungee', sans-serif;
  float: right;
}